/manu_notTogit
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints
/Benchmarking/data_scalability/pbmc3k
# /Data/*
/Data/**/*.rds
/Data/download_raw_data_scripts/PBMC/*.txt
!/Data/.gitkeep
!/Data/DataFormatting.ipynb
!/Data/README.md
Data.zip
*.log
**.ipynb_checkpoints
**.png
**.pdf

Benchmarking/data_scalability/results_16t/sh/.done
Benchmarking/data_scalability/results_16t/sh
Data/download_raw_data_scripts/Tirosh_GSE72056_melanoma_single_cell_revised_v2.txt
Results/imgs/hms/BackSPIN_evaluation.rds
Results/imgs/total_runtime_sfig_realdata.pdf
Results/imgs/total_runtime_fig6_panel_a.pdf
Results/imgs/runningtime_singleprocessor_singleserver.pdf
Results/imgs/runningtime_final_16threads_singleserver.pdf
Results/imgs/mean_ARI_fig5_panel_c.pdf
Results/imgs/category_tableau.pdf
Results/imgs/SFigure10a-b.svg.2024_03_25_12_22_30.0.svg
Results/imgs/SFigure10a-b.svg
Results/imgs/SFigure10.pdf
Results/imgs/hms/BackSPIN_evaluation.rds
Results/imgs/hms/BackSPIN_heatmap_3clust.pdf
Results/imgs/hms/Bimax_evaluation.rds
Results/imgs/hms/Bimax_heatmap_3clust.pdf
Results/imgs/hms/CCA_evaluation.rds
Results/imgs/hms/CCA_heatmap_3clust.pdf
Results/imgs/hms/IRISFGM_evaluation.rds
Results/imgs/hms/IRISFGM_heatmap_3clust.pdf
Results/imgs/hms/tmp_expression.txt.chars.blocks
Results/imgs/hms/BackSPIN_biclust_obj.rds
